.orbit-icon {
  width: 30px;
  height: 30px;
  line-height: 1.6em;
  font-size: 1.2em;
  border-radius: 50%;
  background: #fff;
  text-align: center;
  display: block;
}

.orbit-wrap {
  height: 40em;
  list-style: none;
  font-size: 1.3em;
}
.orbit-wrap > li {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

ul[class^='ring'] {
  transition: all 300ms ease-in-out;
}
ul[class^='ring'] li {
  transition: all 300ms ease-in-out;
}

.ring-0 {
  width: 25em;
  height: 25em;
  -webkit-animation: clockwiseRotate 35s linear infinite;
  animation: clockwiseRotate 35s linear infinite;
}
.ring-0 i {
  -webkit-animation: counterClockwiseRotate 35s linear infinite;
  animation: counterClockwiseRotate 35s linear infinite;
}

ul[class^='ring'] {
  position: relative;
  padding: 0;
  border-radius: 50%;
  list-style: none;
  box-sizing: content-box;
}

ul[class^='ring'] li {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 40px;
  margin: -0.8em;
}

/*
  center;
*/
.orbit-center {
  z-index: 5;
  text-align: center;
  border-radius: 50%;
}

/* 
animations 
*/
@-webkit-keyframes clockwiseRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes clockwiseRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
